**Modules:<br>
pandas_datareader allows you to read stock information from different sources<br>
numpy for linear algebra library<br>
pandas for fast analysis, data cleaning and preparation<br>
datetime for manipulating dates and times**

In [1]:
from pandas_datareader import data, wb
import pandas_datareader.data as data
import pandas as pd
import numpy as np
import datetime
%matplotlib inline

In [2]:
start = datetime.datetime(2006, 1, 1)
end = datetime.datetime(2016, 1, 1)

**Top Bank Stocks**

In [4]:
# Bank of America
BAC = data.DataReader('BAC', 'yahoo', start, end)

# Citigroup
C = data.DataReader('C', 'yahoo', start, end)

# Goldman Sachs
GS = data.DataReader('GS', 'yahoo', start, end)

# JPMorgan Chase
JPM = data.DataReader('JPM', 'yahoo', start, end)

# Morgan Stanley
MS = data.DataReader('MS', 'yahoo', start, end)

# Wells Fargo
WFC = data.DataReader('WFC', 'yahoo', start, end)

In [5]:
# Creating the DataFrame
df = data.DataReader(['BAC', 'C', 'GS', 'JPM', 'MS', 'WFC'],'yahoo', start, end)

In [6]:
#First five rows of Bank of America
BAC.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2006-01-03  46.919998  47.180000  46.150002  47.080002  37.157749  16296700
2006-01-04  47.000000  47.240002  46.450001  46.580002  36.763119  17757900
2006-01-05  46.580002  46.830002  46.320000  46.639999  36.810474  14970700
2006-01-06  46.799999  46.910000  46.349998  46.570000  36.755238  12599800
2006-01-09  46.720001  46.970001  46.360001  46.599998  36.778908  15619400

In [7]:
# Stock Tickers
tickers = ['BAC', 'C', 'GS', 'JPM', 'MS', 'WFC']

In [8]:
# Concatenating each Bank Stock into bank_stocks DataFrame
bank_stocks = pd.concat([BAC, C, GS, JPM, MS, WFC],axis=1,keys=tickers)

In [9]:
#Column Names
bank_stocks.columns.names = ['Bank Ticker','Stock Info']

In [11]:
bank_stocks.head()

Bank Ticker    BAC                                               C         \
Stock Info    Open   High    Low  Close Adj Close    Volume   Open   High
Date
2006-01-03   46.92  47.18  46.15  47.08     37.16  16296700  490.0  493.8
2006-01-04   47.00  47.24  46.45  46.58     36.76  17757900  488.6  491.0
2006-01-05   46.58  46.83  46.32  46.64     36.81  14970700  484.4  487.8
2006-01-06   46.80  46.91  46.35  46.57     36.76  12599800  488.8  489.0
2006-01-09   46.72  46.97  46.36  46.60     36.78  15619400  486.0  487.4

Bank Ticker                  ...        MS                              WFC  \
Stock Info     Low  Close    ...       Low  Close Adj Close   Volume   Open
Date                         ...
2006-01-03   481.1  492.9    ...     56.74  58.31     40.06  5377000  31.60
2006-01-04   483.5  483.8    ...     58.35  58.35     40.09  7977800  31.80
2006-01-05   484.0  486.2    ...     58.02  58.51     40.20  5778000  31.50
2006-01-06   482.0  486.2    ...     58.05  58.57     40.24  6889800  31.58
2006-01-09   483.0  483.9    ...     58.62  59.19     40.67  4144500  31.67

Bank Ticker
Stock Info    High    Low  Close Adj Close    Volume
Date
2006-01-03   31.98  31.20  31.90     23.08  11016400
2006-01-04   31.82  31.36  31.53     22.81  10870000
2006-01-05   31.56  31.31  31.50     22.78  10158000
2006-01-06   31.78  31.38  31.68     22.92   8403800
2006-01-09   31.83  31.56  31.67     22.91   5619600

[5 rows x 36 columns]

**Max closing price for each bank throughout the time period**

In [12]:
round(bank_stocks.xs(key='Close',axis=1,level='Stock Info').max(),2)
#axis=1 is column
#BAC 54.9, C 564.10, GS 247.92, JPM 70.08, MS 89.30, WFC 58.52

Bank Ticker
BAC     54.90
C      564.10
GS     247.92
JPM     70.08
MS      89.30
WFC     58.52
dtype: float64

**Creating returns DataFrame** <br>
Using the formula:<br>

$$r_t = \frac{p_t - p_{t-1}}{p_{t-1}} = \frac{p_t}{p_{t-1}} - 1$$

In [13]:
returns = pd.DataFrame()

**We can use pandas pct_change() method to create new return columns**

In [14]:
for tick in tickers:
    returns[tick+' Return'] = bank_stocks[tick]['Close'].pct_change()
returns.head()

            BAC Return  C Return  GS Return  JPM Return  MS Return  WFC Return
Date
2006-01-03         NaN       NaN        NaN         NaN        NaN         NaN
2006-01-04   -0.010620 -0.018462  -0.013812   -0.014183   0.000686   -0.011599
2006-01-05    0.001288  0.004961  -0.000393    0.003029   0.002742   -0.001110
2006-01-06   -0.001501  0.000000   0.014169    0.007046   0.001025    0.005874
2006-01-09    0.000644 -0.004731   0.012030    0.016242   0.010586   -0.000158

**Using the returns DataFrame we can see which dates each bank stock had the best and worst single day returns**

In [15]:
returns.idxmin()

BAC Return   2009-01-20
C Return     2009-02-27
GS Return    2009-01-20
JPM Return   2009-01-20
MS Return    2008-10-09
WFC Return   2009-01-20
dtype: datetime64[ns]

In [16]:
returns.idxmax()

BAC Return   2009-04-09
C Return     2008-11-24
GS Return    2008-11-24
JPM Return   2009-01-21
MS Return    2008-10-13
WFC Return   2008-07-16
dtype: datetime64[ns]

**Standard deviation returns the risk of each bank stock return**

In [17]:
# Shows that CitiGroup is the riskiest
returns.std()

BAC Return    0.036647
C Return      0.038672
GS Return     0.025390
JPM Return    0.027667
MS Return     0.037819
WFC Return    0.030238
dtype: float64